<app-header></app-header>
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <!-- Hospital Info cards -->
      <!--<div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-user-md font-large-2 success"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">Doctors Available</h5>
                    <h3 class="text-bold-600">122</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-stethoscope font-large-2 warning"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">Visiting Doctors</h5>
                    <h3 class="text-bold-600">34</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-calendar-check-o font-large-2 info"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">Today's Inquiry</h5>
                    <h3 class="text-bold-600">3.5K</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-bed font-large-2 danger"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">Rooms Available</h5>
                    <h3 class="text-bold-600">179</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <h1 class="text-center">Solicitud de Analisis</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <label class=" label-control" for="projectinput9">Selecciona tus análisis</label>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card default-collapse collapse-icon accordion-icon-rotate">
          <a id="headingCollapse1" class="card-header info" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
            <div class="card-title lead collapsed">Biometría Hematica</div>
          </a>
          <div id="collapse1" role="tabpanel" aria-labelledby="headingCollapse1" class="collapse" aria-expanded="false">
            <div class="card-content">
              <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                      <div *ngIf="item.categoryAnalysis.id === 1" class="py-1">
                        <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                               <!--(change)="onCheckboxChange($event, item)">-->
                        <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card default-collapse collapse-icon accordion-icon-rotate">
            <a id="headingCollapse2" class="card-header info" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
              <div class="card-title lead collapsed">Hemostasicos</div>
            </a>
            <div id="collapse2" role="tabpanel" aria-labelledby="headingCollapse2" class="collapse" aria-expanded="false">
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                      <div *ngIf="item.categoryAnalysis.id === 2" class="py-1">
                        <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                        <!--(change)="onCheckboxChange($event, item)">-->
                        <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="col-xl-3 col-lg-6 col-md-6 col-12">
            <div class="card default-collapse collapse-icon accordion-icon-rotate">
              <a id="headingCollapse3" class="card-header info" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                <div class="card-title lead collapsed">Electrolitos</div>
              </a>
              <div id="collapse3" role="tabpanel" aria-labelledby="headingCollapse2" class="collapse" aria-expanded="false">
                <div class="card-content">
                  <div class="card-body">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                        <div *ngIf="item.categoryAnalysis.id === 3" class="py-1">
                          <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                          <!--(change)="onCheckboxChange($event, item)">-->
                          <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6 col-md-6 col-12">
            <div class="card default-collapse collapse-icon accordion-icon-rotate">
              <a id="headingCollapse4" class="card-header info" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                <div class="card-title lead collapsed">Bacteriológicos</div>
              </a>
              <div id="collapse4" role="tabpanel" aria-labelledby="headingCollapse2" class="collapse" aria-expanded="false">
                <div class="card-content">
                  <div class="card-body">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                        <div *ngIf="item.categoryAnalysis.id === 4" class="py-1">
                          <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                          <!--(change)="onCheckboxChange($event, item)">-->
                          <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!--        // ROW 0-->

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card default-collapse collapse-icon accordion-icon-rotate">
            <a id="headingCollapse5" class="card-header info" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
              <div class="card-title lead collapsed">Bioquímica</div>
            </a>
            <div id="collapse5" role="tabpanel" aria-labelledby="headingCollapse5" class="collapse" aria-expanded="false">
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                      <div *ngIf="item.categoryAnalysis.id === 5" class="py-1">
                        <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                        <!--(change)="onCheckboxChange($event, item)">-->
                        <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card default-collapse collapse-icon accordion-icon-rotate">
            <a id="headingCollapse6" class="card-header info" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
              <div class="card-title lead collapsed">Especiales</div>
            </a>
            <div id="collapse6" role="tabpanel" aria-labelledby="headingCollapse2" class="collapse" aria-expanded="false">
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                      <div *ngIf="item.categoryAnalysis.id === 6" class="py-1">
                        <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                        <!--(change)="onCheckboxChange($event, item)">-->
                        <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card default-collapse collapse-icon accordion-icon-rotate">
            <a id="headingCollapse7" class="card-header info" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
              <div class="card-title lead collapsed">Enzimas</div>
            </a>
            <div id="collapse7" role="tabpanel" aria-labelledby="headingCollapse7" class="collapse" aria-expanded="false">
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                      <div *ngIf="item.categoryAnalysis.id === 7" class="py-1">
                        <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                        <!--(change)="onCheckboxChange($event, item)">-->
                        <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card default-collapse collapse-icon accordion-icon-rotate">
            <a id="headingCollapse8" class="card-header info" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
              <div class="card-title lead collapsed">Serológicos</div>
            </a>
            <div id="collapse8" role="tabpanel" aria-labelledby="headingCollapse2" class="collapse" aria-expanded="false">
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                      <div *ngIf="item.categoryAnalysis.id === 8" class="py-1">
                        <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                        <!--(change)="onCheckboxChange($event, item)">-->
                        <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--        // ROW 0-->

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card default-collapse collapse-icon accordion-icon-rotate">
            <a id="headingCollapse9" class="card-header info" data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
              <div class="card-title lead collapsed">Orinas</div>
            </a>
            <div id="collapse9" role="tabpanel" aria-labelledby="headingCollapse9" class="collapse" aria-expanded="false">
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                      <div *ngIf="item.categoryAnalysis.id === 9" class="py-1">
                        <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                        <!--(change)="onCheckboxChange($event, item)">-->
                        <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card default-collapse collapse-icon accordion-icon-rotate">
            <a id="headingCollapse10" class="card-header info" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
              <div class="card-title lead collapsed">Heces</div>
            </a>
            <div id="collapse10" role="tabpanel" aria-labelledby="headingCollapse10" class="collapse" aria-expanded="false">
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let item of analysis; let i = index">
                      <div *ngIf="item.categoryAnalysis.id === 10" class="py-1">
                        <input type="checkbox" class="custom-control-input" id="{{ item.id}}" [(ngModel)]="item.seleccionado">
                        <!--(change)="onCheckboxChange($event, item)">-->
                        <label class="custom-control-label description-form" for="{{ item.id }}">{{ item.nombre }} </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>




      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="form-group">
          <label class=" label-control" for="projectinput9">Tipo de obtencion de laboratorio</label>
          <select id="projectinput7" name="budget" class="form-control" [(ngModel)]="idTipoEntrega">
            <option value="0" selected="" disabled="">Seleccionar</option>
            <option value="1">Envio por parte del Centro Médico</option>
            <option value="2">Recojo en el Centro Médico</option>
          </select>
        </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="form-group">
            <label class=" label-control" for="projectinput9">Observación</label>
            <div class="mx-auto">
              <textarea id="projectinput9" rows="5" class="form-control" name="comment" placeholder="Sobre los analsis" [(ngModel)]="observacion"></textarea>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <button class="btn btn-primary btn-block" (click)="postRegisterOrder()">Solicitar análisis</button>
        </div>
      </div>
      <!-- Hospital Info cards Ends -->
    </div>
  </div>
</div>
<app-footer></app-footer>
