<div class="app-content content" style="margin: 0px">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="row flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <img src="/assets/images/logo_centro_medico.png" alt="branding logo">
                </div>
                <h1 class="text-center">Login</h1>
                <div class="card-body">
                  <form class="form-horizontal" action="index.html" novalidate>
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="text" class="form-control" id="user-name" placeholder="Your Username" required>
                      <div class="form-control-position">
                        <i class="la la-user"></i>
                      </div>
                    </fieldset>
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="password" class="form-control" id="user-password" placeholder="Enter Password" required>
                      <div class="form-control-position">
                        <i class="la la-key"></i>
                      </div>
                    </fieldset>
                    <button type="submit" class="btn btn-outline-info btn-block"><i class="ft-unlock"></i> Ingresar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
